<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Add user</title>
</head>
<body>
<table style=" width: 100%; border: 4px double black;">
    <tr>
        <td style="border: 1px solid black; text-align: center">
            <a href="/admin/all">All users</a>
        </td>
    </tr>
</table>
<form action="/admin/add" method="post">
    <p align="center">
        Name: <input type="text" name="name"/><br/>
        Age: <input type="number" name="age"/><br/>
        Email: <input type="text" name="email"/><br/>
        Password: <input type="password" name="password"><br/>
        Role:
        <input type="checkbox" name="option1" value="1" >ADMIN<Br>
        <input type="checkbox" name="option1" value="2" >USER<Br>
        <input type="submit" value="Submit"/>
    </p>
</form>
</body>
</html>